<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neuro App</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to CSS file -->
  </head>
  <body>
    <h1>Welcome to the Brain app!</h1>
    <h2>An app for better understanding the brain's different part</h2>
    <button class="btn" onclick="location.href='/brains'">Brain Structures</button>
    <button class="btn" onclick="location.href='/brains/new'">Add New Brain part</button>
  </body>
</html>
